

body{
   display:flex;
   justify-content: center;
   background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

p{
   font-size: medium;
   padding-right: 15px;
   font-family:system-ui;

}
img{
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 50px;
}
.mainBox{
   width: 500px;
   height: 250px;
}
.inputBox{
   display: flex;
   padding: 20px;
   width: 500px;
   justify-content: left;


}
.title{
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: center;
   font-size: x-large;
   font-family:system-ui;
}
button{
   width: 500px;
}